.episodes-container{
    min-height: 100vh;
    padding: 25px;
    display: flex;
}

.episodes-container form{
    padding:0 25px;
}

#select-episode{
    border:solid 2px var(--primary-bg);
    border-radius:5px;
    padding:8px 16px;
}